{% extends 'base.twig' %}

{% block content %}

<h2>Admin section</h2>

{% if users %}
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.userid|escape }}</td>
            <td><a href="/user/{{ user.userid|escape }}">{{ user.username|escape }}</a></td>
            {% if not user.isDoctor %}
            <td><a href="/admin/makeDoctor/{{ user.userid|escape }}?token={{ csrf }}">Make doctor</a></td>
            {% else %}
            <td><a href="/admin/removeDoctor/{{ user.userid|escape }}?token={{ csrf }}">Remove doctor status</a></td>
            {% endif %}
            {% if not user.isAdmin %}
            <td><a href="/admin/delete/{{ user.userid|escape }}?token={{ csrf }}">Delete this user</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    The users table is empty.
{% endif %}

{% if posts %}
    <table>
        <tr>
            <th> ID</th>
            <th> Title</th>
            <th></th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.postId|escape }}</td>
            <td><a href="/posts/{{ post.postId|escape }}">{{ post.title|escape }}</a></td>
            <td><a href="/admin/delete/post/{{ post.postid|escape }}?token={{ csrf }}">Delete this post</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    There are no posts
{% endif %}

{% endblock %}
