{% extends 'base.twig' %}

{% block content %}

    <h2>Edit profile</h2>

    <form action="" method="POST">
        {% if flash.errors %}
        <ul>
            {% for error in flash.errors %}
                <li> {{ error|escape }}
            {% endfor %}
        </ul>
        {% endif %}

        <label>Full name:</label>
        <input type = "text" name="fullname" value= "{{ user.fullname|escape }}"> <br />

        <label>Address:</label>
        <input type = "text" name="address" value= "{{ user.address|escape }}"> <br />

        <label>Postcode:</label>
        <input type = "number" name="postcode" maxlength="4" minlength="4" value= "{{ user.postcode|escape }}"> <br />

        <label>Email:</label>
        <input type="email" name="email" value="{{ user.email|escape }}"> <br />

        <label>Bio:</label>
        <textarea name="bio">{{ user.bio|escape }}</textarea>

        <label>Age:</label>
        <input type="number" max="130" min="0" name="age" value="{{ user.age|escape }}"> <br />
        <input type="text" name="csrf" hidden value="{{ csrf }}">

        <input type="submit" name="submit" value="Save profile">
    </form>
{% endblock %}
