{% extends 'base.twig' %}

{% block content %}
    <h3> {{ flash.msg|escape }}</h3>
    {% if post %}
        <h2>{{ post.title|escape}}</h2>
        <h3> by {{post.user.username|escape}} @ {{post.date|escape}}</h3>
        <p> {{ post.content|escape }}</p>
        <lb></lb>
        <h2>COMMENTS</h2>
        {% for comment in comments %}
            <div class="review">
                <b>Author:</b> {{ comment.user.username|escape }} <b> posted on: {{ comment.date|escape }} </b>
                <pre> {{ comment.text|escape }}</pre>
            </div>
        {% else %}
            <br>
            Be the first one to write a comment for this post.
            <br>
            <br>
        {% endfor %}
        <h2>Post your comment here</h2><br />
        <p>Comment: </p>
        <form method="post" action="">
            <textarea cols="40" rows="10" name="text" ></textarea> <br />
            <input type="submit" value="Submit comment" name="submit"></button>
        </form>

    {% else %}
        <h1> Unable to find that post. </h1>
    {% endif %}

{% endblock %}
